Functional Requirements:
As a student,
  - can log in to the system, so I can securely access to my account.
  - can choose and selet courses to study.
  - can access study materials and any resources that uploaded by tutors.
  - can request to book tutoring session.
  - can view score progress over time.

As a tutor,
  - can log in into the system.
  - can create/update their personal profiles.
  - can upload study materials and any resources for students.
  - can manage tutoring booking requests.
  - can accept/reject booking requests.

As an admin,
  - can manage users' account.
  - can add/delete student and tutor accounts.
  - can delete old study materials.

Non-Functional Requirements:
- System should have an user-friendly interface.
- Load page and respond within 2-3 seconds.
- User data and personal information must be protected through authentication.
