Functional Requirements:
As a student I can,
  - log in to the system.
  - choose and selet courses to study.
  - access study materials and any resources that uploaded by tutors.
  - request to book tutoring session.
  - view score progress over time.

As a tutor I can ,
  - log in into the system.
  - create/update their personal profiles.
  - upload study materials and any resources for students.
  - manage tutoring booking requests.
  - accept/reject booking requests.

As an admin I can,
  - manage users' account.
  - add/delete student and tutor accounts.
  - delete old study materials.

Non-Functional Requirements:
- System should have an user-friendly interface.
- Load page and respond within 2-3 seconds.
- User data and personal information must be protected through authentication.
